<!-- Content -->
<div id="content" class="container-fluid fondo-caja-login"> 
  <div class="row">
    <%= render 'tecnico/menu' %>
    <div class="col-lg-9 ">
      
      <%# SERVICIOS CON CITA | YA AGENDADAS %>
      <h2 class="texto-azul">Servicios confirmados</h2>
      
      <%= month_calendar attribute: :date, events: @Agendadas do |f, agendadas| %>
        <%= f %>
        
        <% agendadas.each do |cita| %>
          <div>
            <%= cita.service.description %>
            <%= cita.customer.name %>
          </div>
        <% end %>

      <% end %>
      
      <%# SERVICIOS PENDIENTES POR CONFIRMAR | SOLO POSTULACIONES %>
      <% if @Pendientes.any?  %>

        <h2 class=" texto-azul ">Servicios por confirmar</h2>
      
        <div class="table-responsive">
        
          <%= will_paginate @Pendientes, param_name: :pendientes_page %>

          <table class="table table-bordered">
            <%# HEADER DE LA TABLA DE PETICIONES %>
            <thead>
              <tr>
                <th>Solicitante</th>
                <th>Fecha de requerimiento</th>
                <th>Peticion</th>
                <th>¿Deseas cancelar?</th>
              </tr>
           </thead>
            <%# CUERPO DE LA TABLA DE PETICIONES %>
            <tbody>
            
              <% @Pendientes.reverse_each do |job| %>
                <tr>
                  <td><%= job.customer.name %></td>
                  <td><%= job.service.description %></td>
                  <td><button class="btn btn-primary btn-md"><span class="fa fa-eye"><%= link_to "peticion", tecnico_free_service_path(job.request.id) , :style=> 'color:#FFFFFF; font-family:Open Sans;' %></span></button></td>
                  <td><button class="btn btn-danger btn-md"><span class="glyphicon glyphicon-trash" ><%= link_to "Cancelar", tecnico_agenda_cancelar_path(:destr => job), method: :delete, :style=> 'color:#FFFFFF; font-family:Open Sans;' %></td>
                </button></span></tr>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate @Pendientes, param_name: :pendientes_page%>
        </div>
      <%else%>
        <h4>No tienes postulaciones pendientes.</h4>
      <%end%>

      <a href="/tecnico/free_services" class="btn btn-primary" role="button">
        Regresar a lista de peticiones de usuarios
      </a>

    </div>
  </div>
</div>
