  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Menú Usuario</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          
          <% if current_worker.picture.present? %>
            <%= image_tag current_worker.picture.url(:medium), class: "img-responsive img-thumbnail", alt: current_worker.name %>
          <% else %>
            <%= image_tag 'defauls_user_img.png', class: "img-thumbnail", alt: current_worker.name %>
          <% end %>

          <ul class="list-group">
            <li> <h4> <%= link_to 'Nuevo servicio', '#', class: 'list-group-item', type: "button" %> </h4> </li>
            <li> <h4> <%= link_to 'Mis servicios', '#', class: 'list-group-item', type: "button" %> </h4> </li>
            <li> <h4> <%= link_to 'Mi perfil', update_profile_path , class: 'list-group-item', type: "button" %> </h4> </li>
            <li> <h4> <%= link_to 'Salir', destroy_worker_session_path, method: :delete, class: 'list-group-item', type: "button" %> </h4> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
