  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Menú Usuario</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="list-group">
            <li class="text-center">
              <%= image_tag current_user.picture.url(:medium), class: "img-responsive img-icon img-circle", alt: current_user.name%>
            </li>
            <li class= "list-group-item" ><%= link_to 'Nuevo servicio', tecnico_free_services_path %></li>
            <li class= "list-group-item" ><%= link_to 'Mis servicios', tecnico_my_services_path %></li>
            <li class= "list-group-item" ><%= link_to 'Mi perfil',  tecnico_profile_index_path %></li>
            <li class= "list-group-item" ><%= link_to 'Salir', destroy_worker_session_path, method: :delete %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
