
<div class="container-fluid">
  <div class="row">
  <%= render 'cliente/menu' %>

  <div class="col-lg-9">
    <h1 class="text-center texto-azul">Editando tu solicitud</h1>

    <%= form_for @request, url: {action: :update}, html: {method:'patch'} do |form| %>
    
      <div class="field field form-group">
        <%= form.label :Articulo %>
        <%= form.text_field :article, id: :request_article, class:"form-control" %>
      </div>

      <div class="field field form-group">
        <%= form.label :service_id %>
        <%= form.select :service_id, options_from_collection_for_select(Service.all, :id, :description), {}, {class: "some-class form-control"} %>
      </div>
    
      <div class="field field form-group">
        <%= form.label :description %>
        <%= form.text_area :description, id: :request_description, class:"form-control" %>
      </div>
    
      <div class="actions field form-group">
        <%= form.submit "Actualizar" , class:"btn btn-primary"%>
      </div>
    <% end %>
    
    
    <%= link_to 'Show', cliente_request_path(@request) %> |
    <%= link_to 'Back', cliente_requests_path %>
    
  </div>
</div>
</div>