<!-- Content -->
<div id="content" class="container-fluid"> 
  <div class="row">
    <%= render 'cliente/menu' %>
    <div class="col-lg-9">
      <p id="notice"><%= notice %></p>
      <div>
        <%# LINK PARA CREAR UN NUEVO REQUERIMIENTO %>
        <%= link_to 'SOLICITAR SERVICIO', new_cliente_request_path, class: "btn btn-primary" %>
      </div>
      <div class="text-center texto-azul"><h2><span>MIS SERVICIOS</span></h2></div>
      
      <div class="table-responsive">
        <table class="table table-bordered table-light">
          <%# HEADER DE LA TABLA DE PETICIONES %>
          <thead>
            <tr>
              <th>Electrodoméstico</th>
              <th>Categoría del servicio</th>
              <th>Descripción de la solicitud</th>
              <th colspan="3">Estado</th>
            </tr>
          </thead>
          
          <%# CUERPO DE LA TABLA DE PETICIONES %>
          <tbody>
            
            <% @requests.each do |request| %>
              <tr>
                <td><%= request.article %></td>
                <td><%= request.service.description %></td>
                <td><%= request.description %></td>
                
                <%# LINKS PARA EDITAR O ELIMINAR LOS REQUERIMIENTOS DE SERVICIOS PUEDEN SER OPCIONALES %>
                <td><%= link_to cliente_request_path(request) , :style=> 'color:#FFFFFF; font-family:Open Sans;',class:"btn btn-primary btn-xs" do %><span class="fa fa-eye"></span> Ver<% end %></td>
                <td><%= link_to edit_cliente_request_path(request), :style=> 'color:#FFFFFF; font-family:Open Sans;', class:"btn btn-warning btn-xs" do%><span class="fa fa-edit"></span> Editar<% end %></td>
                <td><%= link_to cliente_request_path(request), method: :delete, data: { confirm: '¿Estas seguro?' } , :style=> 'color:#FFFFFF; font-family:Open Sans;', class:"btn btn-danger btn-xs" do %><span class="glyphicon glyphicon-trash"></span> Eliminar<% end %></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
