<!-- Content -->
<div id="content" class="container-fluid"> 
  <div class="row">
    <%= render 'cliente/menu' %>
    <div class="col-lg-9 fondo-caja-login">
      <div class="text-center texto-azul"><h2>NUEVO SERVICIO</h2></div>
        <div class="">
        <div class="">
          <div class="">
            
            <%= form_for @request, url: {action: 'create'}, html: {class: "form" }  do |form| %>
        
              <div class="field form-group">
                <%= form.label :article, "Electrodoméstico" %>
                <%= form.text_field :article, class: "form-control" %>
              </div>

              <div class="form-group text-center">
                <%= form.label :service_id, "Servicio" %>
                <%= form.select :service_id, options_from_collection_for_select(Service.all, :id, :description), {}, {class: "form-control"} %>
              </div>
              
              <div class="form-group">
                <%= form.label :service_id, "Servicio" %>
                <%= form.select :service_id, options_from_collection_for_select(Service.all, :id, :description), {}, {class: "form-control"} %>
              </div>

              <div class="field form-group">
                <%= form.label :description, "Descripción" %>
                <%= form.text_area :description, class: "form-control", rows: "5" %>
              </div>
              
            
              <div class="actions form-group text-center">
                <%= form.submit "Solicitar servicio", class: "btn btn-primary" %>
              </div>
            
            <% end %>
      
            <div class="form-group">
              <%= link_to 'Volver atrás', :back %>
            </div>

          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</div>