<%= render 'cliente/menu' %>
<h1>New Request</h1>

<%= form_for @request, url: {action: 'create'}  do |form| %>
  
  <div class="field">
    <%= form.label :article %>
    <%= form.text_field :article, id: :request_article %>
  </div>
  
  <%# Esto deberia ser una seleccion de opciones %>
  <div class="field">
    <%= form.label :service_id  %>
    <%= form.text_field :service_id , id: :request_service_tipe %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :request_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<%= link_to 'Back', cliente_requests_path %>
