 <h1>Datos Personales</h1>
 <p>Nombre: </p><%= current_customer.name%></p>
 <p>Usuario: </p><%= current_customer.user_name%></p>
 <p>Fecha de Nacimiento: <%= current_customer.birth_date%></p>
 <p>Direccion: <%= current_customer.address%></p>
 
 <h1>Datos de Contacto</h1>
 <p>Correo: <%= current_customer.email%></p>
 <p>Tarjeta de Credito: <%= current_customer.number_card%></p>
 <p>Telefono: <%= current_customer.phone_number%></p>
