

<div class="container-fluid">
  <div class="row">
    <%= render 'cliente/menu' %>

    <div class="col-md-9"  style="margin-top:32px;">
<p>
  <strong>Articulo que necesita reparación:</strong>
  <%= @request.article %>
</p>

<p>
  <strong>Tipo de Servicio :</strong>
  <%= @request.service.description %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @request.description %>
</p>

<%= link_to 'Editar', edit_cliente_request_path(@request) %> |
<%= link_to 'Volver', cliente_requests_path %>
      
    </div>
  </div>
</div>
