<div id="wrap">
  <div class="container text-center">
    <h1>Técnico</h1>
<h2>Registro</h2>

<%= form_for(resource, as: resource_name, url: worker_registration_path) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Nombre_de_usuario %><br />
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :Correo %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :Contrasena %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Confirmacion_contrasena %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "workers/shared/links" %>
  </div>
</div>