<div class="fondo-login">
<div class="container ">
	<%= form_for(resource, as: resource_name, url: worker_registration_path) do |f| %>
		<div class="row main">
			<div class="main-login main-center">
			<h5>Ingresa tus datos para laborar como técnico</h5>
				<form class="" method="post" action="#">
					
					<div class="form-group">
							<div class="field">
		    				<%= f.label :Nombre %><br />
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
										<div class="form-control" placeholder="Ingrese su nombre">
											<%= f.text_field :name, autofocus: true %>
										</div>
									</div>
								</div>
						</div>
					</div>
	
				<div class="form-group">
							<div class="field">
		    				<%= f.label :Nombre_de_usuario %><br />
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
										<div class="form-control" placeholder="Ingrese su nombre">
											<%= f.text_field :user_name %>
										</div>
									</div>
								</div>
						</div>
					</div>
	
				<div class="form-group">
							<div class="field">
		    				<%= f.label :Correo %><br />
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
										<div class="form-control" placeholder="Ingrese su nombre">
											<%= f.email_field :email, autofocus: true %>
										</div>
									</div>
								</div>
						</div>
					</div>
	
					<div class="form-group">
							<div class="field">
		    				<%= f.label :Contrasena %>
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
										<div class="form-control" placeholder="Ingrese su nombre">
											<%= f.password_field :password, autocomplete: "off" %>
										</div>
									</div>
								</div>
						</div>
					</div>
	
					<div class="form-group">
							<div class="field">
		    				<%= f.label :Confirmacion_contrasena %><br />
								<div class="cols-sm-10">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
										<div class="form-control" placeholder="Ingrese su nombre">
											<%= f.password_field :password_confirmation, autocomplete: "off" %>
										</div>
									</div>
								</div>
						</div>
					</div>
					
					<div class="form-group ">
						<div id="button" class="btn btn-primary btn-lg btn-block login-button">
							<%= f.submit "Crear cuenta" %>
						</div>
					</div>
					
					<%= render "workers/shared/links" %>

					<%= devise_error_messages! %>


				</form>
			</div>
		</div>
		<% end %>
</div>
</div>