
<div class="fondo-login">
<div class="container">
  <div class="row main">

    <div class="col-lg-6 fondo-caja-login col-lg-offset-3">
      <p class="text-center">Bienvenido a Facilidad en Servicios</p>
    <h2 class="text-center">Iniciar Sesión</h2> 
 <%= form_for(resource, as: resource_name, url: session_path(resource_name) ) do |f| %>
    <form class="" method="post" action="#">
      <div class="form-group">
        <%= f.label :email %><br />
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <div placeholder="Ingrese su nombre">
              <%= f.email_field :email, autofocus: true, class:"form-control"  %>
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <%= f.label :password %><br />
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <div placeholder="Ingrese su nombre">
                <%= f.password_field :password, class:"form-control"  %>
              </div>
            </div>
          </div>
      </div>
      
      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="cols-sm-10">
          <div class="checkbox">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i>
              <%= f.check_box :remember_me, class:"form-control"%>
              <%= f.label :remember_me %>
            </span>
          </div>
        </div>
      </div>
      <% end -%>
  
      <div class="form-group text-center">
        <div id="button" >
          <%= f.submit "Entrar ", class:"btn btn-primary" %>
        </div><br></br>
        <div id="button" >
           <%= link_to "Quiero contratar un Tecnico", new_customer_session_path, class:"btn btn-info" %>
        </div>
      </div>


      <%= render "workers/shared/links" %>
      
    </form>
    </div>
  </div>
  <% end %>
</div>
</div>