<!-- Content -->
<div id="content" class="container-fluid"> 
  <div class="row">
    <%= render 'tecnico/menu' %>
    <div class="col-lg-9">
      <p id="notice"><%= notice %></p>

      <div class="text-center"><h2>Solicitudes</h2></div>
      
      <div class="table-responsive">
        
        <%= will_paginate @requests %>

        <table class="table table-bordered">
          <%# HEADER DE LA TABLA DE PETICIONES %>
          <thead>
            <tr>
              <th>Nombre del cliente</th>
              <th>Categoría del servicio</th>
              <th>Articulo</th>
              <th>Descripcion del articulo</th>
            </tr>
          </thead>
          
          <%# CUERPO DE LA TABLA DE PETICIONES %>
          <tbody>
            
            <% @requests.reverse_each do |req| %>
              <tr>
                <!-- QUITAR LA PARTE DE WORKER ID DEL IF SI SE QUIERE QUE UN SERVICIO SOLO SEA ACEPTADO POR UN Y SOLO UN TECNICO -->
                <%#if Schedule.exists?(request_id: req.id, worker_id: current_worker.id) == false%>
                <%if Schedule.exists?(request_id: req.id) == false%>
                  <td><%= req.customer.name %></td>
                  <td><%= req.service.description %></td>
                  <td><%= req.article %></td>
                  <td><%= req.description %> </td>
                
                  <%# LINKS PARA EDITAR O ELIMINAR LOS REQUERIMIENTOS DE SERVICIOS PUEDEN SER OPCIONALES %>
                
                  <td><%= link_to "Detalles", tecnico_free_service_path(req) %></td>
                <%end%>
              </tr>
            <% end %>

          </tbody>
        </table>
        <%= will_paginate @requests %>
      </div>
    </div>
  </div>
</div>
