<!-- Content -->
<div id="content" class="container-fluid"> 
  <div class="row">
    <%= render 'tecnico/menu' %>
    <div class="col-lg-9">
      <p id="notice"><%= notice %></p>

      <div class="text-center"><h2>Solicitudes</h2></div>
      
      <div class="table-responsive">
        
        <%= will_paginate @requests %>

        <table class="table table-bordered">
          <%# HEADER DE LA TABLA DE PETICIONES %>
          <thead>
            <tr>
              <th>Nombre del cliente</th>
              <th>Categoría del servicio</th>
              <th>Articulo</th>
              <th>Descripcion del articulo</th>
            </tr>
          </thead>
          
          <%# CUERPO DE LA TABLA DE PETICIONES %>
          <tbody>
            
            <% @requests.reverse_each do |req| %>
              <tr>
                <td><%= req.customer.name %></td>
                <td><%= req.service.description %></td>
                <td><%= req.article %></td>
                <td><%= req.description %> </td>
                
                <%# LINKS PARA EDITAR O ELIMINAR LOS REQUERIMIENTOS DE SERVICIOS PUEDEN SER OPCIONALES %>
                <td><a src"#">Aceptar</a></td>
                <td><a src="#">Cancelar</a></td>
              </tr>
            <% end %>

          </tbody>
        </table>
        <%= will_paginate @requests %>
      </div>
    </div>
  </div>
</div>
