<div id="content" class="container-fluid"> 
  <div class="row">
    <%= render 'tecnico/menu' %>
    <div class="col-lg-9">
      <p id="notice"><%= notice %></p>

      <div class="text-center"><h2>Detalles de la Solicitud</h2></div>
      
      <div class="table-responsive">
        

        <table class="table table-bordered">
          <%# HEADER DE LA TABLA DE PETICIONES %>
          <thead>
            <tr>
              <th>Nombre del cliente</th>
              <th>Categoría del servicio</th>
              <th>Artículo</th>
              <th>Descripcion del articulo</th>
              <th>Direccion del servicio</th>
              <th>Teléfono de contacto</th>
              <th>Correo de contacto</th>
              <th>Fecha de creación</th>
            </tr>
          </thead>
          
          <%# CUERPO DE LA TABLA DE PETICIONES %>
          <tbody>
          <td><%=@peticion.customer.name %></td>
          <td><%=@peticion.service.description %></td>
          <td><%=@peticion.article %></td>
          <td><%=@peticion.description %></td>
          <td><%=@peticion.customer.address %></td>
          <td><%=@peticion.customer.phone_number %></td>
          <td><%=@peticion.customer.email %></td>
          <td><%=@peticion.created_at %></td>
          </tbody>
      
        </table>
      </div>
      
      <div class="text-center"><h2>Detalles de Ubicación</h2></div>
      
      <div style='width: 100%;'>
        <div id="map" style='width: 100%; height: 300px;'>
        <script>
          var handler = Gmaps.build('Google');
          handler.buildMap({ provider: {
            zoomControl: true,
            zoom: 15,}, internal: {id: 'map'}}, function(){
            var markers = handler.addMarkers([
            {
              "lat": <%= @lat %>,
              "lng": <%= @lng %>,
              "picture": {
                "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
                "width":  32,
                "height": 32
              },
              "infowindow": "Ruta"
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          });
        </script>
        </div>
      </div>
    
    
    </div>
  </div>

</div>
