<div id="content" class="container-fluid"> 
  <div class="row">
    <%= render 'tecnico/menu' %>
    <div class="col-lg-9">
      <p id="notice"><%= notice %></p>

      <div class="text-center"><h2>Detalles de la Solicitud</h2></div>
      
      <div class="table-responsive">
        

        <table class="table table-bordered">
          <%# HEADER DE LA TABLA DE PETICIONES %>
          <thead>
            <tr>
              <th>Nombre del cliente</th>
              <th>Categoría del servicio</th>
              <th>Artículo</th>
              <th>Descripcion del articulo</th>
              <th>Direccion del servicio</th>
              <th>Fecha de creación</th>
            </tr>
          </thead>
          
          <%# CUERPO DE LA TABLA DE PETICIONES %>
          <tbody>
          <td><%=@peticion.customer.name %></td>
          <td><%=@peticion.service.description %></td>
          <td><%=@peticion.article %></td>
          <td><%=@peticion.description %></td>
          <td><%=@peticion.customer.address %></td>
          <td><%=@peticion.created_at %></td>
          </tbody>
      
        </table>
      </div>
    </div>
    <td><%= link_to "Aceptar", tecnico_accept_agree_path(:client => @peticion.customer.id, :request => @peticion.id)%></td>
  </div>
  
  <!-- Para quemar el mapa en la vista 
    KEY de la API es : AIzaSyDc5J3WwsVQUOgYTMvLcnQmL-0wvdgaHss
  -->
</div>