<!-- Content -->
<div id="content" class="container-fluid"> 
    <div class="row">
        <%= render 'cliente/menu' %>

        <div class="col-lg-9 text-center">

            <div class="">
                <div class="text-center"><h2>Datos Personales</h2></div>

                <p>Nombre: <span class=""><%= current_customer.name%></span></p>
                <p>Usuario: <%= current_customer.user_name%></p>
                <p>Direccion: <%= current_customer.address%></p>

            </div>
            
            <div class="">
                <div class="text-center"><h2>Datos de Contacto</h2></div>
                <p>Correo: <%= current_customer.email%></p>
                <p>Tarjeta de Credito: <%= current_customer.number_card%></p>
                <p>Telefono: <%= current_customer.phone_number%></p>

            </div>


            <p><%= link_to "Editar tus datos", edit_customer_registration_path %></p>

        </div>
    </div>
</div>

