


<!-- Wrap -->
<div id="wrap"> 
  <!-- Progress  Bar -->
  <section class="sub-baner">
    <div class="container">
      <h3>Blog</h3>
      <ol class="breadcrumb">
        <li><a href="#">Inicio</a></li>
        <li class="active">Blog</li>
      </ol>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Blog -->
    <section class="padding-top-100 padding-bottom-100">
      <div class="container">
        <div class="row">
          <div class="col-md-8"> 
            
            <!-- Blog -->
            <div class="blog-list"> 
              
              <!-- Article -->
              <article class="blog-post"> <img class="img-responsive" src="images/blog-img-1.jpg" alt="" >
                <div class="post-info"> 
                  <!-- Date -->

              <% @posts.each do |post| %>                  <div class="date" style="">  <%= post.created_at.strftime("%d") %></div>

                <div class="post_wrapper">

                  <h2 class="title"> <%= link_to post.title, post %> </h2>
                  <h5 ><%= post.created_at.strftime("%d, %B") %> </h5>

                  <!-- Small Info -->
                  <div class="aut"> <i class="fa fa-user"></i><span>Admin</span> <i class="fa fa-folder-o"></i><span>servicios, tips, clientes</span> <i class="fa fa-comment-o"></i><span>Comentarios</span> 

                  </div>
                    <p class="body">
                        <%= link_to post.body, post%>
                    </p>

                </div><% end %>

              </article>
                            
            </div>
          </div>
          
          <!-- Side Bar -->
          <div class="col-md-4"> 
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
        
<% if administrator_signed_in? %><ul class="nav navbar-nav">
          <li class="text-center">
          </li>
          <li class=""><%= link_to 'Nuevo Post', new_post_path %></li>
          <li class=""><%= link_to 'Editar Datos', new_post_path %></li>
          <li class=""><%= link_to 'Salir', destroy_customer_session_path, method: :delete %></li>
<% end %>
        </ul>
      </div><!--/.nav-collapse -->
            <!-- Blog -->
            <div class="sidebar"> 
              <!-- Search -->
              <div class="search">
                <input class="form-control" type="search" placeholder="Buscar">
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
              
              <!-- Categories -->
              <h6 class="margin-top-50">Categorías</h6>
              <ul class="cate archive">
                <li><a href="#."> Tips <span>3</span></a></li>
                <li><a href="#."> Anecdotas<span>1</span></a></li>
              </ul>
              
             
              <!-- Recent Posts -->
              <h6 class="margin-top-50">Archivo</h6>
              <ul class="cate archive">
                <li><a href="#."> Noviembre 2017 <span>4</span></a></li>
              </ul>
              
              <!-- Tags -->
              <h6 class="margin-top-50">Etiquetas</h6>
              <ul class="tags">
                <li><a href="#.">Servicios </a></li>
                <li><a href="#.">Clientes </a></li>
                <li><a href="#.">Pagos </a></li>
                <li><a href="#.">Solicitar </a></li>
                <li><a href="#.">Credito </a></li>
                <li><a href="#.">Excelente </a></li>
                <li><a href="#.">Seguro</a></li>
                <li><a href="#.">tarjeta de credito </a></li>
                <li><a href="#.">habilidades </a></li>
                <li><a href="#.">mapa </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

















