<div class="fondo-login">
<div class="container">
  <%= form_for(resource, as: resource_name, url: new_customer_session_path ) do |f| %>

  <div class="row main">
    <div class="col-lg-6 col-lg-offset-3">
    <h5>Ingresa tus datos como cliente</h5> 
    <form class="" method="post" action="#">
      <div class="form-group">
        <%= f.label :email %><br />
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <div placeholder="Ingrese su nombre">
              <%= f.email_field :email, autofocus: true, class:"form-control"  %>
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <%= f.label :password %><br />
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <div placeholder="Ingrese su nombre">
                <%= f.password_field :password, class:"form-control"  %>
              </div>
            </div>
          </div>
      </div>
      
      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="cols-sm-10">
          <div class="checkbox">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i>
              <%= f.check_box :remember_me, class:"form-control"%>
              <%= f.label :remember_me %>
            </span>
          </div>
        </div>
      </div>
      <% end -%>
  
      <div class="form-group text-center">
        <div id="button" >
          <%= f.submit "Iniciar sesión", class:"btn btn-primary" %>
        </div>
      </div>

      <%= render "customers/shared/links" %>
      
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <a href="#" data-dismiss="alert"></a>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
      <% end %>
    </form>
    </div>
  </div>
  <% end %>
</div>
</div>