<div class="fondo-login">
<div class="container">
  <%= form_for(resource, as: resource_name, url: new_customer_session_path ) do |f| %>
  
  <div class="row main">
    <div class="main-login main-center">
    <h5>Ingresa tus datos como cliente</h5> 

      <div class="form-group">
        <%= f.label :email %><br />
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <div class="form-control" placeholder="Ingrese su nombre">
              <%= f.email_field :email, autofocus: true %>
            </div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <%= f.label :password %><br />
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <div class="form-control" placeholder="Ingrese su nombre">
                <%= f.password_field :password %>
              </div>
            </div>
          </div>
      </div>
      
      <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <div class="cols-sm-10">
          <div class="checkbox">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </span>
          </div>
        </div>
      </div>
      <% end -%>
  
      <div class="form-group ">
        <div id="button" class="btn btn-primary btn-lg btn-block login-button">
          <%= f.submit "Iniciar" %>
        </div>
      </div>

      <%= render "customer/shared/links" %>
      
      <spam class="alert-error">
        <spam class="bg-error" >
          <strong>
            <% flash.each do |key, value| %>
              <div class="flash <%= key %>"><%= value %></div>
            <% end %>
          </strong>
        </spam>
      </spam>

    </div>
  </div>
  <% end %>
</div>
</div>