
  <!-- Top Bar -->
  <div class="top-bar">
    <div class="container"> 
      
      <!-- Social Icons -->
      <div class="social"> 
        <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-instagram"></i></a>
      </div>
      
      <!-- Pull Right -->
      <div class="pull-right">
        <ul class="login-info">

          <%# TODO: Verificar esto %>
          <% if  not (worker_signed_in? or customer_signed_in?) %>
            <li> <%= link_to 'Iniciar sesión', start_session_path %></li>
            <li> <%= link_to 'Registrarse', register_path %> </li>
          <% elsif worker_signed_in? %>
            <li><span class="glyphicon glyphicon-user"></span><%= current_worker.user_name %></li>
            <li><%= link_to "Salir", destroy_worker_session_path, method: :delete %></li>
          <% elsif customer_signed_in? %>
            <li><span class="glyphicon glyphicon-user"></span><%= current_customer.user_name %></li>
            <li><%= link_to "Salir", destroy_customer_session_path, method: :delete %></li>
          <% end -%>
          <%# --------------------- %>

        </ul>
      </div>

    </div>
  </div>
  
  <!-- header -->
  <header>
    <div class="sticky">
      <div class="container"> 
        
        <!-- Logo -->
        <div class="logo"><h3>FACILIDAD EN SERVICIOS</h3> </div>
        <!-- Navigation -->
        <nav class="navbar"> 
          <!-- NAV -->
          <ul class="nav ownmenu">
            <li><%= link_to "Inicio", root_path  %></li>
            <li><%= link_to 'Servicios', get_services_page %></li><%# HELPER %>
            <li><%= link_to 'Nosotros', about_path %></li>
            <li><%= link_to 'Contacto', contact_path %></li>
            <li><%= link_to 'Blog', blog_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
