


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <!-- Top Bar -->
  <div class="top-bar">
    <div class="container"> 
      
      <!-- Social Icons -->
      <div class="social"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-instagram"></i></a> </div>
      
      <!-- Pull Right -->
      <div class="pull-right">
        <ul class="login-info">

          <li> <%= link_to 'Iniciar Sesión', start_session_path %></li>
          <li> <%= link_to 'Registrarse', register_path %> </li>
           
        </ul>
      </div>
    </div>
  </div>
  
  <!-- header -->
  <header>
    <div class="sticky">
      <div class="container"> 
        
        <!-- Logo -->
        <div class="logo"><h3>FACILIDAD EN SERVICIOS</h3> </div>
        <!-- Navigation -->
        <nav class="navbar"> 
          <!-- NAV -->
          <ul class="nav ownmenu">
            <li><%= link_to "Inicio", root_path  %></li>
            <li><%= link_to 'Servicios', '#' %></li>
            <li><%= link_to 'Nosotros', about_path %></li>
            <li><%= link_to 'Contacto', contact_path %></li>
            <li><%= link_to 'Blog', blog_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
