<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Facilidad en Servicios</title>

    <%# METADATOS %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%# JAVASCRIPT %>
    <%= javascript_include_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%# HOJAS DE ESTILOS %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%# SOPORTE PARA NAVEGADORES ANTIGUOS %>
    <%= render 'layouts/shim' %>
    
    <%# Online Fonts %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Dosis|Libre+Baskerville|Open+Sans' %>
        
        
  </head>

  <body>
    
    <!--Controlador: <%= params[:controller] %>-->
    
    <!-- Wrap -->
    <%= render 'layouts/header' %>
    <!-- Services -->
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
    
    <%= render 'layouts/footer' %>

  </body>

</html>

