<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Facilidad en Servicios</title>

    <%# METADATOS %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%# JAVASCRIPT %>
    <%= javascript_include_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%# HOJAS DE ESTILOS %>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/shim' %>
  </head>

  <body>
    
    <%= params[:controller] %>
    
    <!-- Wrap -->
    <div id="wrap"> 
      <%= render 'layouts/header' %>
      
      <% if customer_signed_in? %>
            <!-- Services -->
        <section class="">
        <div class="container-fluid"> 
          
          <!-- contenido en columnas -->
          <div class="row">
              <%= render 'layouts/navcustomer' %>
            <div class="col-lg-8">
              <%= yield %>
            </div>
          </div>
        </div>
        </section>
      <% elsif worker_signed_in? %>
        <%= render 'layouts/navworker' %>
      <% end %>  

      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  </body>

</html>

